    body {
        background-color: #dfd;
        color: #020;
        text-align: justify;
        font-family: times new roman, serif;
        width: 45%;
        margin: 30px auto;
    }
    
    h1 {
        text-align: center;
    }
    
    div {
        text-align: center
    }
    
    #fk {
        font-weight: bold;
    }
    
    #kép {
        width: 200px;
        float: right;
    }
    
    #behuz: {
        padding-left: 25px;
    }
    
    #behuz2 {
        text-indent: 25px;
    }
    
    ul li ul li {
        list-style-type: none;
        font-weight: normal;
    }
    
    ul li ul li:first-child {
        padding-top: 20px;
    }
    
    ul li ul li:last-child {
        padding-bottom: 20px;
    }
    
    hr {
        height: 55px;
        background-image: url("csillag.gif");
        border: none;
    }